{%extends 'index.html'%}
{%block content%}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Profiles</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Profiles</p>
        </div>
    </div>
    <section style="background-color: #eee;">
        <div class="container py-5">
         
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="{{pro.photo.url}}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{pro.customer.username}}</h5>
                 
                  
                </div>
              </div>
             
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">UserName</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{pro.customer.username}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">First_Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{pro.customer.first_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Last_Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{pro.customer.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{pro.customer.email}}</p>
                    </div>
                  </div>
                
            </div>
          </div>
        </div>
    </section>
</div>
{%endblock%}