{%extends 'index.html'%}
{% load static %}
{% block content %}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop</p>
        </div>
    </div>
</div>
<!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
                    <form method="GET">
                        <div class="form-control ">
                            <div class="mx-4">{{MyfilterCategory.form }}</div>
                        </div><br>
                        <button type="submit" class="btn btn-primary form-control ">filter</button>
                    </form>
                </div>
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                  
                    {% for p in product%}
                      
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 ">
                                    <img class="img-fluid w-100 " src="{{p.photo.url}}"  alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">{{p.title}}</h6>
                                    <div class="d-flex justify-content-center">
                                        {% if p.DiscountPrice > 0 %}
                                            <h6>${{p.get_discount}}</h6><h6 class="text-muted ml-2"><del>${{p.Price}}</del></h6>
                                        {%else%}
                                            <h6>${{p.Price}}</h6>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="{% url 'Path_Details_Shop' p.slug%}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                    <a href="{% url 'Path_Add_Cart' p.slug%}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    {%if product.has_other_pages%}
                        <div class="col-12 pb-1">
                            
                                <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-3">
                                    {% if product.has_previous %}
                                    
                                    <li class="page-item ">
                                        <a class="page-link" href="?page={{product.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {%endif%}
                                    {% for p in product.paginator.page_range %} 
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{p}}">{{p}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                    {% if product.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{product.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {%endif%}

                                </ul>
                                </nav>
                        </div>
                    {%endif%}
                    
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
<!-- Shop End -->
{%endblock%}


  
