{%extends 'index.html'%}
{% load bootstrap4 %}
{%block content%}
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3 text-primary">PasswordChangeDone</h1>
      <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">PasswordChangeDone</p>
      </div>
  </div>
</div>
<div class="container-fluid ">
    <h3 class="text-center mt-4">Password Change Successful</h3>
    <p class="text-center mb-4">Your Password Has Been Changed Successfully <a href="{%url 'Path_Profile'%}" class="text-primary">Go To Profiles</a></p>
</div>
{%endblock%}